workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

variables:
  UV_CACHE_DIR: .uv-cache
  UV_LINK_MODE: copy

default:
  image: ghcr.io/astral-sh/uv:0.9-python3.14-bookworm-slim
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - $UV_CACHE_DIR

stages:
  - .pre
  - validate
  - test

install-deps:
  stage: .pre
  script:
    - uv sync --locked
    - uv cache prune --ci
  artifacts:
    paths:
      - .venv/
    expire_in: 1 hour

format-check:
  stage: validate
  dependencies:
    - install-deps
  script:
    - uv run ruff format --check --diff

lint:
  stage: validate
  dependencies:
    - install-deps
  script:
    - uv run ruff check --output-format=gitlab > gl-code-quality-report.json
  artifacts:
    reports:
      codequality: gl-code-quality-report.json

typecheck:
  stage: validate
  dependencies:
    - install-deps
  script:
    - uv run basedpyright

test:
  stage: test
  dependencies:
    - install-deps
  script:
    - uv run pytest
